= form_for [hackday_organization, hackday] do |f|
  - if hackday.errors.any?
    = errors_out hackday

  .field
    = f.label :name, 'Name'
    = f.text_field :name
  .field
    = f.label :start_date, 'Start Date'
    = f.text_field :start_date, type: 'datetime'
  .field
    = f.label :end_date, 'End Date'
    = f.text_field :end_date, type: 'datetime'
  .field
    = f.submit 'Save', class: 'btn btn-primary'
