- content_for :breadcrumb do
  %nav
    %ul
      %li= link_to 'Hackday Organizations', hackday_organizations_path
      %li= link_to @hackday_organization.name, hackday_organization_path(@hackday_organization)
      %li= link_to @hackday.name, hackday_organization_hackday_path(@hackday_organization, @hackday)
      %li Edit

%h1 Edit Hackday: #{@hackday.name}
= render 'form', hackday_organization: @hackday_organization, hackday: @hackday
