%h2 Upcoming Hackday for #{@hackday_organization.name}

%p Starts at: #{@hackday.start_date_formatted}

%h3 Projects:

.projects
  - @hackday.projects.each do |project|
    = render project
  = link_to 'Add Project', new_project_path(hackday_id: @hackday.id)

%h3 Hardware

.hardwares
  - @hackday.hardwares.each do |hardware|
    = render hardware
  = link_to 'Add Hardware', new_hackday_hardware_path(@hackday)
