- content_for :breadcrumb do
  %nav
    %ul
      %li= link_to @hackday.hackday_organization_name, hackday_organization_path(@hackday.hackday_organization)
      %li= @hackday.name

%h2= @hackday.name

%p Starts at: #{@hackday.start_date_formatted}

%h3 Projects:

- current_user_is_owner = @hackday.is_owner? current_user
- if current_user_is_owner
  = link_to 'Add Project', new_hackday_project_path(@hackday.id)

.projects
  - @hackday.projects.each do |project|
    = render project, hackday: @hackday, show_delete: true, current_user_is_owner: current_user_is_owner

%h3 Hardware

.hardwares
  - @hackday.hardwares.each do |hardware|
    = render hardware
  - if @hackday.is_owner? current_user
    = link_to 'Edit Available Hardware', new_hackday_hardware_path(@hackday)
