%h2= @hackday.name

%p Starts at: #{@hackday.start_date_formatted}

%h3 Projects:

.projects
  - @hackday.projects.each do |project|
    = render project, hackday: @hackday
  - if @hackday.is_owner? current_user
    = link_to 'Add Project', new_project_path(hackday_id: @hackday.id)

%h3 Hardware

.hardwares
  - @hackday.hardwares.each do |hardware|
    = render hardware
  - if @hackday.is_owner? current_user
    = link_to 'Edit Available Hardware', new_hackday_hardware_path(@hackday)
