= form_for hackday_organization do |f|
  - if hackday_organization.errors.any?
    = errors_out(hackday_organization)

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
