%h1= @hackday_organization.name

- if @hackday_organization.is_owner? current_user
  = link_to 'Edit', edit_hackday_organization_path(@hackday_organization)
.hackdays
  %p= link_to 'Create new Hackday', new_hackday_organization_hackday_path(@hackday_organization)

  %h3 Upcoming Hackdays:
  %ul
    - @hackday_organization.hackdays.each do |hackday|
      %li= link_to hackday.start_date_formatted, [@hackday_organization, hackday]

.members
  %h3 Members:
  - @hackday_organization.users.each do |user|
    %li= user.username
  = button_to 'Add Test User', hackday_organization_users_path(@hackday_organization), class: 'btn btn-info'
= link_to 'Back to organizations', hackday_organizations_path

- if @hackday_organization.is_owner? current_user
  .hardware
    %h3 Hardware:
    = link_to 'Add Hardware Item', new_hackday_organization_hardware_path(@hackday_organization)
    - Hardware.for_hackday_organization(@hackday_organization).each do |hardware|
      %li= hardware.name
