%h1= @hackday_organization.name

- if @hackday_organization.is_owner? current_user
  = link_to 'Edit', edit_hackday_organization_path(@hackday_organization)
.hackdays
  - if @hackday_organization.is_owner? current_user
    %p= link_to 'Create New Hackday', new_hackday_organization_hackday_path(@hackday_organization)

  %h3 Upcoming Hackdays:
  %ul
    - @hackday_organization.hackdays.each do |hackday|
      %li= link_to hackday.name, [@hackday_organization, hackday]

.members
  %h3 Members:
  %ul
    - @hackday_organization.members.each do |user|
      %li= user.username
  - if @hackday_organization.is_owner? current_user
    %p
      %strong Add Members
    = form_tag hackday_organization_users_path(@hackday_organization) do
      .field
        = select_tag 'user_id', options_from_collection_for_select(User.available_users(@hackday_organization.id), 'id', 'username')
      .field
        = submit_tag 'Add Save', class: 'btn'

.hardware
  %h3 Hardware:
  - if @hackday_organization.is_member? current_user
    = link_to 'Add Hardware Item', new_hackday_organization_hardware_path(@hackday_organization)
  - Hardware.for_hackday_organization(@hackday_organization).each do |hardware|
    %li= hardware.name
= link_to 'Back to organizations', hackday_organizations_path
