= f.hidden_field :hackday_id, value: hackday_id
%fieldset
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  - if !hardwares.nil? && hardwares.any?
    %p Include Hardware:
    - hardwares.each do |hardware|
      = check_box_tag "project[hardware_ids][]", hardware.id, project.has_hardware_id?(hardware.id),id: "project_hardware_ids_#{hardware.id}"
      = label_tag "project_hardware_ids_#{hardware.id}", hardware.name
  .field
    = f.submit 'Save', class: 'btn btn-primary'
