.project
  - if hackday.is_owner? current_user
    %h4= link_to project.name, edit_hackday_project_path(hackday, project), id: "edit_project_#{project.id}_link"
  - else
    %h4= project.name
  %p= project.description
  - if project.hardwares.any?
    %p
      %strong Hardware
    %ul
      - project.hardwares.each do |hardware|
        %li= hardware.name
